<!doctype html>
<html>

<head>
    <title>Home</title>
    <base href="/">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/css.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <div class="normal">

                <h1><span class="fa fa-lock"></span>My bio!</h1>

                <p>Login or Register:</p>

                <a onclick="window.location.href = `/login`" class="btn btn-default"><span
                        class="fa fa-user"></span>
                    Login</a>
                <a onclick="window.location.href = `/signup`" class="btn btn-default"><span
                        class="fa fa-user"></span> Signup</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script>
        console.log("how are ya")
    </script>

</body>

</html>
