<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mainpage.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <div class="alert alert-danger" role="alert" style="display: none;" id="errmsg"></div>
            <p id="editmode" style="position: absolute;display: block;"></p>
            <button id="up" name="enter_editmode">Edit mode!</button>
            <br>
            <h1 class="display-4">My profile</h1>
            <br>
            <div class="form-group">

                <section id="profile">
                    <div class='container'>
                        <div class='row'>
                            <div class='ele'><img src="../../api/uploads/image.png" class="img-fluid prof"
                                    id="profilepic" height="100" width="100"></div>
                        </div>
                    </div>
                    <div class='container'>
                        <div class='row'>
                            <div class='ele'><input type="file" id="fileinput" class=" input prof" name="put_name"
                                    value="as" /></div>
                        </div>
                    </div>
                    <div class='container'>
                        <div class='row'>
                            <div class='ele'><button name="put_submit" class=" input prof">Save Changes</button>
                            </div>
                        </div>
                    </div>

                </section>
                <div id="spacer3"></div>
                <section id="onme">
                    <div class="err">
                        <hr>
                        <h1>MSG</h1>
                        <button name="enter_editmode">Edit mode!</button>
                        <hr>
                    </div>
                    <h2>Details on me</h2>

                    <h4 id="nameedit" class="editvis infor inforedit">Name:<input type="text" class="foredit"
                            placeholder="Edit NAME" /></h4>
                    <h4 id="cityedit" class="editvis infor inforedit">City:<input type="text" class="foredit"
                            placeholder="Edit City" /></h4>
                    <h4 id="schooledit" class="editvis infor inforedit">School:<input type="text" class="foredit"
                            placeholder="Edit SCHOOL" /></h4>
                    <h4 id="hobbiesedit" class="editvis infor inforedit">Hobbies:
                        <h2 id="err1"></h2>
                        <ul>
                            <li><input type="text" class="foredit" placeholder="Edit HOBBIE1" /></li>
                            <li><input type="text" class="foredit" placeholder="Edit HOBBIE2" /></li>
                            <li><input type="text" class="foredit" placeholder="Edit HOBBIE3" /></li>
                            <li><button>Add new hobbie</button>Add </li>
                        </ul>
                    </h4>
                </section>
            </div>
        </div>


    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {
            window.history.pushState({}, document.title, "/profile/edit");
            console.log("AAA")
            console.log('<%= email %>')
            $.get(`/profile/pictures/findpic/` + '<%= email %>', function (data) {
                // console.log(data.profilepic)
                let done = "./uploads/" + data.profilepic;
                document.getElementById("profilepic").src = done
            })

            $.get(`/profile/get/personal-details/` + '<%= email %>', function (data) {
                console.log(data)
                let name = data.name
                let city = data.city
                let school = data.school
                let hobbies = data.hobbies
                if (name !== null) {
                    $('#name').html(`${$('#name').html()} ${name}`)
                } else {
                    $('#name').hide();
                }
                if (city !== null) {
                    $('#city').html(`${$('#city').html()} ${city}`)
                } else {
                    $('#city').hide();
                }
                if (school !== null) {
                    $('#school').html(`${$('#school').html()} ${school}`)
                } else {
                    $('#school').hide();
                }
                if (hobbies !== null) {
                    $('#hobbies').html(`${$('#hobbies').html()} ${hobbies}`)
                } else {
                    $('#hobbies').hide();
                }
            })

            $("button[name=put_submit]").click(function () {
                console.log('Submit button clicked')
                let fileInput = document.getElementById('fileinput');
                let file = fileInput.files[0];
                let formData = new FormData();
                formData.append('file', file);
                formData.append('email', '<%= email %>');

                let xhr = new XMLHttpRequest();
                xhr.open('PUT', '/profile/uploadpic', true);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        console.log(xhr.responseText);
                        if (xhr.responseText == "exist") {
                            // document.getElementById('errmsg').innerHTML = "ERROR: There is already a picture for this user"
                            let formDataa = new FormData();
                            formDataa.append('file', file);
                            formDataa.append('email', '<%= email %>');
                            let update = new XMLHttpRequest();
                            update.open('PUT', '/profile/updatepic', true);
                            update.onreadystatechange = function () {
                                if (update.readyState === XMLHttpRequest.DONE && update
                                    .status === 200) {
                                    console.log("asdadsasdasd")
                                    console.log(update.responseText)
                                    let str = update.responseText;
                                    let done = "./" + str.substring(12);
                                    // document.getElementById("profilepic").src = null
                                    document.getElementById("profilepic").src = done +
                                        `?${(new Date).getTime()}` //"refreshing" the img src/img tag without refreshing the whole page
                                    // document.getElementById("profilepic").src = document.getElementById("profilepic").src 
                                }
                            }

                            update.send(formDataa);

                        } else {
                            let str = xhr.responseText;
                            let done = "./" + str.substring(12);
                            document.getElementById("profilepic").src = done
                        }
                    }
                };
                xhr.send(formData);
            })



            //edit mode!
            // $('button[name=enter_editmode]').click(function () {
            //     console.log(document.getElementById('editmode').style.display)
            //     if (document.getElementById('editmode').style.display == "block") {
            //         $('#editmode')
            //         .hide() //if hidden then editmode is on, and if showed then editmode is off
            //         $('.foredit').show()
            //         $('.infor').hide()
            //         $('.infor').hide()
            //         $('.inforedit').show()
            //     } else {
            //         $('#editmode')
            //         .show() //if hidden then editmode is on, and if showed then editmode is off
            //         $('.foredit').hide()
            //         $('.inforedit').hide()
            //         $('.infor').show()
            //     }

            // })

        })


        // window.history.pushState({}, document.title, "/");
    </script>
    </div>
</body>

</html>